<!DOCTYPE html>
<html lang="en">
    <title>Data Collection App</title>

    <head>
        <link rel="stylesheet" href="../static/main.css">
    </head>

    <body>
        <div class="container">
            <h1>Collecting Height</h1>
            <h3>Please share your height to get an estimate of population height trends</h3>
            <form action="success.html" method="POST">
                <input title="Your email is secure" placeholder="Enter your email address" type="text"
                    name="email_name"> <br>
                <input title="Your data is secure" placeholder="Enter your height (cm)" type="number" min="50" ,
                    max="300" name="height"> <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>

</html>